<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <td>Вы вошли под админом:</td>
        <td th:text="${logined_administrator.name}"></td>
        <td th:text="${logined_administrator.surname}"></td>
    </tr>
</table>

<h1><a th:href="@{registration}">Регистрация Актрисы</a></h1>
<h1><a th:href="@{admin/registration}">Регистрация админа</a></h1>
<h1><a th:href="@{admin/logout}"> Выход для админа</a></h1>

<h1>Список Актрис</h1>

<table width="100%", border="1">
    <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>Category</td>
        <td>User</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr th:each="actris : ${all_actrises}">
        <td th:text="${actris.getName()}"></td>
        <td th:text="${actris.getSurname()}"></td>
        <td th:text="${actris.getCategory()}"></td>
        <td th:text="${actris.getUser()}"></td>
        <td><a th:href="@{actris/{id}(id=${actris.getId()})}">Инфо</a></td>
        <td><a th:href="@{actris/recording/create/{id}(id=${actris.getId()})}">Записаться</a></td>  //todoo add recording
        <td><a th:href="@{trainer/comment/create/{id}(id=${actris.getId()})}">Оставить комментарий</a></td>

    </tr>

</table>

</body>
</html>