<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table>
    <tr>
        <td>Вы вошли под актрисой:</td>
        <td th:text="${logined_actris.name}"></td>
        <td th:text="${logined_actris.surname}"></td>
    </tr>
</table>

<h1><a th:href="@{actris/logout}">Выход для актрисы</a></h1>

<h1>Список актрис</h1>

<table width="100%", border="1">
    <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>Experience</td>
        <td>Category</td>
        <td>Email</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr th:each="actrises : ${all_actrises}">
        <td th:text="${actrises.getName()}"></td>
        <td th:text="${actrises.getSurname()}"></td>
        <td th:text="${actrises.getExperience()}"></td>
        <td th:text="${actrises.getCategory()}"></td>
        <td th:text="${actrises.getEmail()}"></td>
        <td><a th:href="@{actris/{id}(id=${actrises.getId()})}">Инфо</a></td>
<!--        <td><a th:href="@{actris/recording/create/{id}(id=${actrises.getId()})}">Записаться</a></td>-->
        <td><a th:href="@{actris/comment/create/{id}(id=${actrises.getId()})}">Оставить комментарий</a></td>
    </tr>

</table>

</body>
</html>